# Data Cleaning Notebook
This notebook is designed to clean the dataset according to the provided instructions. Each step will address a specific issue in the data.

## Step 1: Import Necessary Libraries

In [ ]:
import pandas as pd
import numpy as np

## Step 2: Load the Dataset

In [ ]:
file_path = '/mnt/data/finance_dataset_uncleaned.xlsx'
df = pd.read_excel(file_path)
df.head()

## Step 3: Inspect the Dataset
Here we inspect the first few rows to understand the structure of the data.

In [ ]:
df.info()

## Step 4: Handle Missing Values
We will drop records with critical missing values and impute others.

In [ ]:
# Drop rows with missing Account_Number, Branch_Code, Phone_Number
df = df.dropna(subset=['Account_Number', 'Branch_Code', 'Phone_Number'])

# Impute missing Loan_Amount and Account_Balance
df['Loan_Amount'] = df['Loan_Amount'].fillna(df['Loan_Amount'].median())
df['Account_Balance'] = df['Account_Balance'].fillna(df['Account_Balance'].median())

## Step 5: Correct Erroneous Entries
Filtering and correcting unrealistic data.

In [ ]:
# Filter out unrealistic Age values (e.g., Age < 18 or Age > 100)
df = df[(df['Age'] >= 18) & (df['Age'] <= 100)]

# Correct Credit_Score (values between 300 and 850)
df = df[(df['Credit_Score'] >= 300) & (df['Credit_Score'] <= 850)]

# Filter unrealistic Income values (e.g., Income > 0)
df = df[df['Income'] > 0]

# Clean the Phone_Number column to remove nonsensical data
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: np.nan if len(str(x)) != 10 else x)
df = df.dropna(subset=['Phone_Number'])

## Step 6: Ensure Consistency
Standardizing date formats and normalizing categorical data.

In [ ]:
# Standardize the Transaction_Date format to YYYY-MM-DD
df['Transaction_Date'] = pd.to_datetime(df['Transaction_Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Normalize Gender entries
df['Gender'] = df['Gender'].replace({'Unknown': 'Other', None: 'Other'})

# Handle inconsistencies in the Country column
df['Country'] = df['Country'].replace({'Unknown': np.nan, None: np.nan})

## Step 7: Handle Outliers
Identifying and handling extreme values.

In [ ]:
# Handle extreme values in Transaction_Amount and Loan_Amount
df = df[(df['Transaction_Amount'] > 0) & (df['Transaction_Amount'] < df['Transaction_Amount'].quantile(0.99))]
df = df[(df['Loan_Amount'] > 0) & (df['Loan_Amount'] < df['Loan_Amount'].quantile(0.99))]

## Step 8: Remove Irrelevant Columns
Dropping unnecessary columns.

In [ ]:
df = df.drop(columns=['Extra Details'])

## Step 9: Export the Cleaned Data
Saving the cleaned dataset to a new Excel file.

In [ ]:
cleaned_file_path = '/mnt/data/finance_dataset_cleaned.xlsx'
df.to_excel(cleaned_file_path, index=False)

## Completed
The data has been cleaned and saved.